@{
    //Layout = null;
    ViewBag.Title = "Index";
}

<div class="form-horizontal">
    @Html.Partial("_ValueHolder")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/test")
}